[diff]
	tool = vimdiff
[alias]
	co = checkout
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

